<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
</head>

<body ng-app="techtalkers.core" ng-cloak>

    <div ng-controller="AppCtrl" layout="column" layout-fill ng-cloak>
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools" layout-align="center center">Tech Talkers</h1>
                </md-toolbar>
                <md-content layout-padding ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
                    </p>
                </md-content>
            </md-sidenav>
            <div flex layout="column">
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                        </md-button>
                        <h2><span>Toolbar with Disabled/Enabled Icon Buttons</span></h2>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content flex layout-padding>
                    <div layout="column" layout-align="top center">
                        <p>
                            The left sidenav will 'lock open' on a medium (>=960px wide) device.
                        </p>
                        <p>
                            The right sidenav will focus on a specific child element.
                        </p>
                        <div>
                            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                                Toggle left
                            </md-button>
                        </div>
                        <div>
                            <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                                Toggle right
                            </md-button>
                        </div>
                    </div>
                    <div flex></div>
                </md-content>
            </div>
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding>
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput" ng-model="data" md-autofocus>
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>
            </md-sidenav>
        </section>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/svg-assets-cache.js/svg-assets-cache.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="app/core/techtalkers.core.js"></script>

</body>

</html>